body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html{
  background-color:#fff3cd !important;
}

.container{
  max-width: 620px;
  border-radius: 25px;
  background-color:#cff4fc;
}
.pull-right{
  float:right;
}
.inputbox{
  margin:0 15px 0 0 ;
  padding:5px;
  border-radius: 5px;
  border:1px solid #000;
}

hr{
  margin-top:20px !important;
}

.display-cal{
  margin:40px 0 0 0 ;
  padding:15px;
  border-radius: 30px;
  text-align:center;
  color:#fff;
  font-size:20px;
  background-color:rgb(213, 0, 102);
  border:1px solid #fff;
}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-top:60px;
      max-width: 430px !important;
      padding:30px 60px 60px 60px !important;
  }
}